<%- include("partials/header.ejs") %>

    </nav>
    </header>
    <main>
        <div class="center">
            <img class="image" src="<%= imageUrl %>" alt="Book Cover" />
        </div>
        <p class="center"><a href="https://openlibrary.org/isbn/<%= isbn %>" target="_blank">
                View on Open Library
            </a></p>

        <div class="card">
            <form action="/add-book" method="post">
                <input type="hidden" name="isbn" value="<%= isbn %>">
                <div class="card-body">
                    <label for="title">Rating (Out of 10) <span class="required"
                            title="This field is required.">*</span>:</label>
                    <input class="input-box" type="number" name="rating" placeholder="Enter your rating" required
                        min="0" max="10" step="1">
                </div>
                <div class="card-body">
                    <label for="date">Date Read <span class="required" title="This field is required.">*</span>:</label>
                    <input class="input-box" type="date" name="date" placeholder="Enter the date" required>
                </div>
                <div class="card-body">
                    <label for="notes">Notes (up to 12,000 characters):</label>
                    <textarea class="input-box" name="notes" placeholder="Enter your notes"
                        maxlength="12000"></textarea>
                </div>
                <div class="position-button">
                    <button class="button padding-button green" type="submit">Add</button>
                </div>
            </form>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>